pdf.fjtd.dev {
    root * /srv/pdf.fjtd.dev/dist
    encode zstd gzip

    @modules path *.mjs
    header @modules Content-Type "text/javascript; charset=utf-8"

    @wasm path *.wasm
    header @wasm Content-Type "application/wasm"

    file_server
}
